<div class="row margin-top">
    <div class="col-12">
        <div class="row">
            <center>
                <div class="col-6">
                    <h1 class="white-text">Blog Posts:</h1>
                </div>
            </center>
        </div>

        {{#if loggedIn}}
        <div class="row">
            <form class="blog_post margin-top-sm">
                <div class="row">
                    <input class="input" id="title" placeholder="Blog's Title"></input>
                </div>
                <div class="row">
                    <textarea class="input" cols="5" id="body" placeholder="Blog's Body"></textarea>
                </div>
                <div class="row">
                    <button class="btn" type="submit">Submit Blog</button>
                </div>
            </form>
        </div>
        {{/if}}
    </div>

    <div class="col-12 margin-top post-section">
        {{#each posts as |post|}}
        <div class="row margin-top-sm">
            <div class="col-12 new-post">
                <div class="row">
                    <p class="post-name">{{post.user.first_name}} {{post.user.last_name}} <span class="post-username">@{{post.user.username}}</p>
                </div>
                <br>
                <div class="row">
                    <p class="post-title">{{post.title}}</p>
                </div>

                <div class="row">
                    <p class="post-body">{{post.body}}</p>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-6">
                    <p class="post-time">Posted On: {{post.createdAt}}</p>
                    </div>
                    <div class="col-6 right">
                        <button class="button">View Comments</button>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

{{#if loggedIn}}
<script src="/javascript/blog_post.js"></script>
{{/if}}
